<li>
	<input name="<%= groupName %>" id="<%= groupName %>[item<%= classificationKey %>]" type="checkbox" value="<%= classification %>" /> 
	<label for="<%= groupName %>[item<%= classificationKey %>]">
		<%= classification %>
	</label>
</li>