<form id="commandDetailsForm"> 
<% var j=0;
if (this.i == 0){
this.i = this.i + 1;
}
%>
	<div class="createTicketCommandContainer">

		<div class="createTicketDetailsContainer" style="width:100%; height: 210px; margin-top:5px; overflow: scroll;">
			<div style="margin:3px; 0 10px 0; padding-bottom: 8px;">
				<div class="detailsHeader ui-widget-header" style="float:left; width:50%;">Property Names</div>
				<div class="detailsHeader ui-widget-header" style="float:right; width:44%;">Value</div>		
			</div>
			
			<% for (; j < this.i ; j++) {%>	
							
			    <div class="createTicketItemContainer" style="width: 100%; height: 75px; margin:4px 0 4px 0;">		
					<div class="createTicketPropertiesSelect" style="float:left; width:50%;">
						<select name="ticketProperties[<%= j %>]" class="createTicketPropetiesName" style="width:120px;">
						     <% for (var k=0; k < this.environmentVarList.length ; k++) {%>
								<option value="<%=this.environmentVarList[k]%>"  <%= this.command.commandData ? this.command.commandData.formParams ? this.command.commandData.formParams.ticketProperties[j]  == this.environmentVarList[k] ? "selected" : "" :"":""%>><%=this.environmentVarList[k]%></option>
						<%}%>
						  								
					</select>
					</div>
					<div id = "createTicketValues" class="createTicketValues" style="float:right; width:44%;">
						<select id="ticketValueSource[<%= j %>]" name="ticketValueSource[<%= j %>]" 
								class="selectTicketValues" style="width:120px;">						
							<option value="UsersSelectedResponse" 
							         <%= this.command.commandData ? this.command.commandData.formParams ? this.command.commandData.formParams.ticketValueSource[j] == "UsersSelectedResponse" ? "selected" : "" :"":""%> >
							         UsersSelectedResponse</option>
							 <option value="EnvironmentVariable" 
				           			 <%= this.command.commandData ? this.command.commandData.formParams ? this.command.commandData.formParams.ticketValueSource[j]  == "EnvironmentVariable" ? "selected" : "" :"":""%>>
							       EnvironmentVariable</option>
						    <option value="Custom"
						            <%= this.command.commandData ? this.command.commandData.formParams ? this.command.commandData.formParams.ticketValueSource[j]  == "Custom" ? "selected" : "" :"":""%>>
							       Custom</option>
						</select>
							<%if(j !=0 ){%>
							<button class="remove-command-option" title="Remove Property" />
							<%}%>
						<div class="customValTextAreaDiv" style="float:left;">						
							  <textarea id="ticketCustomValue[<%= j %>]" class="customValue"  cols="10" rows="1" name="ticketCustomValue[<%= j %>]">
							  <%= this.command.commandData ? this.command.commandData.formParams ? this.command.commandData.formParams.ticketCustomValue[ j ] ? this.command.commandData.formParams.ticketCustomValue[ j ] : '' : '':'' %>							  
							  	</textarea>	
						      					      
						      
							</div>	
							<div class="envVarListDiv">							
							<select name="envProperties[<%= j %>]" id="envProperties[<%= j %>]" class="environmentVarList" style="width:100px;">
							<% for (var k=0; k < this.environmentVarList.length ; k++) {%>
								<option value="<%=this.environmentVarList[k]%>"  <%= this.command.commandData ? this.command.commandData.formParams ? this.command.commandData.formParams.envProperties[j]  == this.environmentVarList[k] ? "selected" : "" :"":""%>><%=this.environmentVarList[k]%></option>
							<%}%>
								</select>

							</div>
					</div>
				</div>
			<%}%>
			<div>
			</div>
			
			<%== $.View ( "./application/library/level3/ddpw/commands/views/detail_form_renderers/set_env_var_container.ejs", { command: this.command, i:j,attrlength:this.i } ) %>
						</div>
					
	</div>
	
	<div class="addAnotherCommandOptionButton">
		<button class="addAnotherCommandOption" style="float:right; position: absolute; bottom:48px; margin-left: 10px;"> + </button>
	</div>
</form> 