<div id="propertiesPanelPrompt">
	<form <%=this.selectedModel %>>
		<div>
			<label for="text" title="This is the text that will be displayed to the user as the 'question' or 'prompt' that should evoke a response.">Prompt Text:</label>
			<textarea name="text" rows="6" cols="25" ><%= this.selectedModel.text %></textarea>
				
			<label for="responseOptions[0][value]" title="This is the text that will be displayed to the user as the default response.">Default Text:</label>
		<div id="prefill" >
		<% for(var i=0;i<this.selectedModel.prefillData.length;i++) {%>
			<%== $.View ( "./application/admin_controllers/prompt_prefill_controller/views/prefill_prompt.ejs", {selectedModel:this.selectedModel,environmentVarList:this.environmentVarList,i:i  } ) %>
			<% } %>
			</div>
		</div>
		<div>
		<%== $.View("./application/library/level3/ddpw/utilities/tools/views/properties_panel_item_renderers/div_required_forced.ejs", this.selectedModel ) %>
		</div>
		<div id="propertiesPanelPromptTypeControlsContainer"  class="responseOptionsListContainer">
			<div class="responseOptionItemContainer">
				<div class="ui-widget-header">
					<p> Commands <button class="addCommand" title="Add Commands"></button> </p>				
				</div>
				<div>
					<%== $.View("./application/admin_controllers/commands_item_controller/views/commands_list_container.ejs",{commands: this.selectedModel.responseOptions[0].commands}) %>
				</div>
			</div>
		</div>
		<div>
			<button id="saveButton">Save</button>
			<button id="cancelButton">Cancel</button>
		</div>
	</form>
</div>